extends /layout

block header


block content
  .container
    h1 Bumpin.js
    a(href="http://www.discogs.com/Twin-City-Players-We-Dont-Mind-Parting-I-Never-Felt-This-Good/release/2994343" target="_blank").bump-me Bump Me.
    a(href="http://www.discogs.com/Twin-City-Players-We-Dont-Mind-Parting-I-Never-Felt-This-Good/release/2994343" target="_blank").me-too Me Too!
    
    .controls
      ul.volume
        li
          a.volume_down(href="#volume_down" title="-") -
        li
          a.volume_up(href="#volume_up" title="+") +
      ul.audio
        li
          a.play(href="#play" title="play") play
        li
          a.delimiter //
        li
          a.pause(href="#pause" title="pause") pause
        li
          a.delimiter //
        li
          a.github(href="https://github.com/rongierlach/bumpin.js" title="github" target="_blank") github

block footer
  include /includes/_footer


block scripts
  include /includes/_scripts
